.box {
  gap: 15px;
  margin-left: 10px;
  margin-top: 10px;
  width: 100px;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
}

.iform {
  margin-left: 10px;
  margin-top: 20px;
}

.gobackbutton {
  background: url('./images/arrowleft.png') no-repeat top left;
  margin-top: 10px;
  border: none;
  height: 60px;
  width: 60px;
}

.navbar {
  margin-left: 0;
}

.directory {
  margin-top: 3%;
  margin-right: 0px;
  display: inline-flex;
}

.name {
  margin-top: 0;
  text-align: center;
}

label {
  margin-right: 10px;
  margin-left: 10px;
}

span {
  margin-left: 10px;
}